.Header {
    height: 100%;

}

.Header>.row {
    height: 100%;
    margin: auto;
}

.Header>.row>.greetingCol {
    display: flex;
    justify-content: start;
    align-items: center;
}

.Header>.row>.greetingCol>h2 {
    text-align: start;
    max-width: fit-content;
    background-color: rgb(250, 235, 215);
    border-radius: 1rem;
    margin-top: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 0.3rem;
    font-weight: bold;
    white-space: nowrap;
    font-size: min(3vw, 2rem);
    color: black;
}

.Header>.row>.authBtns {
    margin: auto 1rem auto auto;
    display: flex;
    flex-direction: row;
    justify-content: end;
    flex-wrap: wrap;
    gap: 1rem;
    z-index: 999;
}

.Header>.row>.authBtns .link {
    transition: all 0.2s;
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin: 0.2rem;
    font-weight: bold;
    color: #eb8f51;
    text-decoration: none;
}

.Header .authBtns .link:hover {
    background-color: #eb8f51;
    color: #252525;
}

.darkBackground {
    background-color: #252525;
    border-radius: 1rem;
}

.Header>.row>.weather {
    height: 100%;
    overflow: hidden;
}

.Header>.row>.weather>.row {
    height: 95%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}