.Weather {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: min(6vh, 3rem);
    border-radius: 1rem;
    background-color: #ef9f6a;
    font-weight: bold;
    overflow: hidden;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    animation: weatherInit 2s forwards;
    color: black;
    max-width: 7rem;
}

.Weather>.Loader {
    transform: scale(0.5);
}

.Weather>.Loader>img {
    width: 0.5rem;
}

@keyframes weatherInit {
    from {
        transform: translateY(-1rem);
        opacity: 0;
    }

    to {
        transform: translateY(0rem);
        opacity: 100;
    }
}