.VacationCard {
    transition: all 0.2s;
    margin: auto;
    margin-bottom: 1rem;
    border: 1px solid;
    border-radius: 0.5rem;
    min-height: 15rem;
    min-width: 10rem;
    max-width: 12rem;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    filter: brightness(0.7);
}

.VacationCard:hover {
    transform: scale(1.1);
    filter: brightness(1.1);
}

/* Vacation content hidden */
.VacationCard>* {
    transition: all 0.3s;
    transform: translateY(12rem);
}

/* Vacation content slide up */
.VacationCard:hover>* {
    transform: translateY(0);
}

.vacationDescription::-webkit-scrollbar {
    width: 0.9rem;
}

.VacationCard:hover .vacationDescription::-webkit-scrollbar {
    width: 1rem;
}

.vacationDescription::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 0.2rem;
}

.vacationDescription:hover::-webkit-scrollbar-thumb {
    border-right: 0.3rem solid #0745b0;
    /* border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0.5rem; */
    background: #0745b0;
}

.VacationCard>.row {
    display: flex;
    align-items: center;
    justify-content: center;
}

.VacationCard .vacationHead {
    filter: brightness(1.5);
    -webkit-text-stroke: 0.09px white;
    background-color: rgba(0, 0, 0, 0.568);
}

.VacationCard .vacationDescription {
    transition: all 0.3s;
    height: 3.3rem;
    margin: 0.5rem;
    overflow-y: auto;
    display: flex;
    justify-content: center;
}

.VacationCard:hover .vacationDescription {
    padding-left: 1rem;
    font-weight: bold;
    -webkit-text-stroke: 0.3px white;
    background-color: rgba(0, 0, 0, 0.568);
}

.VacationCard>.modalBtnContainer button {
    transition: all 0.2s;
    background-color: #0745b0;
    color: white;
    border-radius: 0.3rem;
    border: solid;
}

.VacationCard>.modalBtnContainer button:hover {
    transform: scale(1.1);
    background-color: #1556c6;
}

.VacationCard>.modalBtnContainer {
    position: relative;
    top: 6rem;
}