.DarkMode {
    border-radius: 1rem;
    transition: all 0.2s;
    background-color: #252525;
    color: #eb8f51;
    font-weight: bold;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.DarkMode:hover {
    color: white;
    background-color: #353535;
}

.DarkMode:active {
    transform: scale(0.9);
}