.FutureVacations {
    display: grid;
    place-content: center;
    overflow: hidden;
}

.FutureVacations>.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1rem;
}